---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import BeyondCode from '../components/BeyondCode.astro';
import SkillCategory from '../components/SkillCategory.astro';
import { skills } from '../content/data/db';
import Title from '../components/Title.astro';
---

<Layout>
	<Navbar />
	<div class="px-[15%]">
		<Hero />
		<About />
		<BeyondCode />
		<Title title="Hablidades" />
		<SkillCategory name="Habilidades" skills={skills} />
	</div>
</Layout>
