---
import { aboutMe } from '../content/data/db';
---

<div class="flex flex-row justify-between items-center mt-[8%] w-full">
	<div class="flex-1 flex">		
		<span class="text-[15px] md:text-[40px] font-bold text-white mb-4 leading-[1.2] bg-black inline-block px-2">
			Más allá del código
		</span>
	</div>
	<p class="flex-1 flex">{aboutMe.memory}</p>
</div>
