---
import type {SocialProps} from '../interfaces/Interface'
const { name, url, icon } = Astro.props as SocialProps
---


<a href={url} target="_blank" rel="noopener noreferrer" class="text-[#000] hover:text-[#797979] transition-colors">
    <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
      <path d={icon}/>
    </svg>
    <span class="sr-only">{name}</span>
</a>